<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>gate</title>
        <link rel="stylesheet" href="./style.css">

    <script type="importmap">
        {
            "imports":{
                "three": "./build/three.module.js",
                "three/examples/jsm/loaders/GLTFLoader": "./jsm/loaders/GLTFLoader.js",
            }
        }
    </script>
    </head>

    <body>
        <script type="module" src="/threejs/gate.js"></script>

        <h1>Pass through the gate</h1>
        <div id="canvas-container"></div>
    </body>
</html>